@import "tailwindcss";

@theme {
  --color-primary: #404045;
  --color-secondary: #9f9fab;
  --color-tertiary: #e1e0da;
  --color-light: #f8f8f8;
  --color-dark: #000000;
}

@layer base {
  h1 {
    @apply text-3xl font-normal leading-tight text-black sm:text-4xl lg:text-5xl dark:text-white font-serif;
  }
  h2 {
    @apply text-2xl font-normal leading-tight text-black sm:text-3xl lg:text-4xl dark:text-white font-serif;
  }
  h3 {
    @apply font-light text-2xl mb-10 leading-tight text-black sm:text-2xl lg:text-3xl dark:text-white;
  }
  h4 {
    @apply text-lg font-medium leading-tight text-black sm:text-xl lg:text-2xl dark:text-white;
  }
  h5 {
    @apply text-base font-normal leading-tight text-black sm:text-lg lg:text-xl dark:text-white;
  }
  h6 {
    @apply text-sm font-normal leading-tight text-black sm:text-base lg:text-lg dark:text-white;
  }
  p {
    @apply text-base font-normal text-gray-700 dark:text-gray-200;
  }
}